
{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}

  <!-- Breadcrumb Start -->
  <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'mainpage' %}">Home</a>
                <span class="breadcrumb-item active">Booking</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Book</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" action="{% url 'EstimateView' %}" method="get">
                    <div class="control-group">
                        <label>How Many Tiles</label>
                    {{data.apartment_type}}
                          {% comment %} <input type="text" class="form-control" name="username" id="name" placeholder="Your Email"
                            required="required" data-validation-required-message="Please enter your Email" /> {% endcomment %}
                        <p class="help-block text-danger"></p> 
                    </div>
                    <div class="control-group">
                        <label>How Many Container</label>
                        {{data.bedroomes_type}}
                              {% comment %} <input type="text" class="form-control" name="username" id="name" placeholder="Your Email"
                                required="required" data-validation-required-message="Please enter your Email" /> {% endcomment %}
                            <p class="help-block text-danger"></p> 
                        </div>
                    
                        
                        <div class="control-group">
                            <label>Date</label>
                            {{data.modular_kitchen}}
                                  {% comment %} <input type="text" class="form-control" name="username" id="name" placeholder="Your Email"
                                    required="required" data-validation-required-message="Please enter your Email" /> {% endcomment %}
                                <p class="help-block text-danger"></p> 
                            </div>
                    
                            
                            <div class="control-group">
                                <label>Note</label>
                                {{data.Carpet_area_in_sqft}}
                                      {% comment %} <input type="text" class="form-control" name="username" id="name" placeholder="Your Email"
                                        required="required" data-validation-required-message="Please enter your Email" /> {% endcomment %}
                                    <p class="help-block text-danger"></p> 
                                </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Book Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}